@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>add a new client </h4>
@using (Html.BeginForm())
{
  <p>Client: @Html.LabelFor(model => model.Name) @Html.TextBoxFor(model => model.Name)</p>
  <p>Please select @Html.LabelFor(model => model.Stylist) to add the client to | Stylist: @Html.DropDownList("StylistId")
</p>
  <input type="submit" value="Add new client to stylist now!" />
}
<p>@Html.ActionLink("Show all the clients ", "Index")</p>